.App {
  align-items:center;
  display: grid;
  text-align: center;
  width:100vw;
}



h1 {
  color: #153c30;

}

button {
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;

}

.Top-Rated {
  background: #74C365;
  

  /* color: white; */

 }

 .Note-Worthy {
  background: #3EB489;
  /* color: white; */

 }

 .All-Rankings {
  background: #679267;
  
 }

.ratings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

}

.brand {
  /* display: flex;
  flex-direction: column; */
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 250px;
  margin: 10px;

}

.brand-content {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.brand-name {
  margin: 20px 2px;
  justify-self: center;
  align-self: flex-end;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-align: right;
}

.brand-rating {
    margin-right: auto;
    text-align: left;
}


.brand-summary {
  align-self: flex-start;
  margin-right: auto;
  margin-top: 3px;
  justify-self: stretch;
  text-align: left;
}



.brand:nth-child(2n){
  background-color: pink;
  
}

