.App {
  align-items:center;
  display: grid;
  text-align: center;
  width:100vw;
}



h1 {
  color: #0b211a;
  font-size: xxx-large;
  text-shadow: #0b211a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

button {
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  

}

button:hover{
  color:rgba(245, 245, 245, 0.571);
}

button:visited{
  color:rgb(255, 127, 127)
}

.Top-Rated {
  background: #7bc278;
  

  /* color: white; */

 }

 .Note-Worthy {
  background: #6aaa68;
  /* color: white; */

 }

 .All-Rankings {
  background: #679267;
  
 }

.ratings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

}

.brand {
  /* display: flex;
  flex-direction: column; */
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 250px;
  margin: 10px;
  background-color: rgb(208, 216, 210);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.brand:hover {
  color:rgba(129, 162, 62, 0.77);

}

.brand-content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.brand-name {
  margin: 20px 2px;
  justify-self: center;
  align-self: flex-end;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-align: right;
  font-family: cursive
}

.brand-rating {
    margin-right: auto;
    text-align: left;
    text-decoration: underline;

}


.brand-summary {
  align-self: flex-start;
  margin-right: auto;
  margin-top: 3px;
  justify-self: stretch;
  text-align: left;
}



.scroller{
  width:1650px;
  height: 1060px;
  overflow-y: scroll;
  scrollbar-width: thick;

}

